# Replace ALL instances of 00.deeznnutz.com with your domain name
# Replace 70.34.152.117 with your public IP address. Leave :35997

00.deeznnutz.com:35997 {
    reverse_proxy znnd:35997 {
        header_up host "70.34.152.117:35997"
    }
}

00.deeznnutz.com:35998 {
        reverse_proxy znnd:35998
}

00.deeznnutz.com:3000 {
    reverse_proxy grafana:3000  
}

00.deeznnutz.com:8000 {
    reverse_proxy node-ips:80/api/
}

:8080 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }    
    reverse_proxy cadvisor:8080
}

:9090 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy prometheus:9090
}

:9093 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy alertmanager:9093
}

:9091 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }    
    reverse_proxy pushgateway:9091
}
