{$DOMAIN}:35997 {
    reverse_proxy znnd:35997 {
        header_up host "{$PUBLIC_IP}:35997"
    }
}

{$DOMAIN}:35998 {
        reverse_proxy znnd:35998
}

{$DOMAIN}:3000 {
    reverse_proxy grafana:3000  
}

{$DOMAIN}:8000 {
    reverse_proxy node-ips:80/api/
}

// TODO ALLOW ACCESS TO ADDITIONAL RESOURCES
// :8080 {
//     basicauth /* {
//         {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
//     }    
//     reverse_proxy cadvisor:8080
// }

// :9090 {
//     basicauth /* {
//         {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
//     }
//     reverse_proxy prometheus:9090
// }

// :9093 {
//     basicauth /* {
//         {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
//     }
//     reverse_proxy alertmanager:9093
// }

// :9091 {
//     basicauth /* {
//         {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
//     }    
//     reverse_proxy pushgateway:9091
// }
